<label for="{{ field.slug }}Input">{{ field.name }}</label>
{% if result is defined %}
    <label id="{{ field.slug }}">{{ field.payload.values[result.value[field.slug]] }}</label>
{% else %}
    <div class="col-sm-12">
        <select class="form-control" name="{{ field.slug }}" id="{{ field.slug }}">
            {% for key, value in field.payload.values %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
