<label for="{{ field.name }}Input">{{ field.name }}</label>
{% if result is defined %}
    <label id="{{ field.name }}">{{ result.value[field.name] }}</label>
{% else %}
    <div class="col-sm-5">
        <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}Input">
    </div>
{% endif %}

