{{ include('base.twig') }}

<body>
{% block body %}
    <div class="mainDiv">
        <div class="col-12 col-sm-6 col-md-4"><h1>{{ game }}</h1></div>
    </div>
    <div class="container">
        <div class="container" style="margin-bottom: 2em">
            <button type="button" class="btn btn-dark"
                    onclick="location.href = '/result/' + {{ gameId }}">Add result
            </button>
        </div>
        <div class="container">
            {% for result in results %}
                <div class="row rounded" style="{{ result.value.result ? 'background-color: lightgreen' : 'background-color: lightcoral' }}; margin-bottom: 1em">
                    <div>
                        {% for field in fields %}
                            <div class="form-group">
                                {{ include('field/' ~ field.type ~ '.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
