{{ include('base.twig') }}

<body>
{% block body %}
    <div class="mainDiv">
        <form action="/{{ game }}" method="POST">
            {% for field in fields %}
                <div class="form-group">
                    <label for="{{ field.name }}Input">{{ field.name }}</label>
                    <div class="col-sm-5">
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}Input">
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
</body>
