{{ include('base.twig') }}

<body>
{% block body %}
    <div class="mainDiv">
        <div class="col-12 col-sm-6 col-md-4"><h1>{{ game }}</h1></div>
    </div>
    <div class="container">
        <div class="container">
            <button type="button" class="btn btn-dark"
                    onclick="location.href = '/result/' + {{ gameId }}">Add result
            </button>
        </div>
        <div class="container">
            {% for result in results %}
                <div class="row">
                    <div>
                        {% for field in fields %}
                            <div class="form-group">
                                <label for="{{ field.name }}">{{ field.name }}:</label>
                                <label id="{{ field.name }}">{{ result.value[field.name] }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
